*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}
header {
    margin: 50px;
    text-align: center;
    font-size: 2rem;
}
table{
    margin: 20px;
    border: 2px solid;
    border-collapse: collapse;
}
table th, table td {
    border: 2px solid;
    border-left: none;
    border-top: none;
    padding: 10px
}
thead{
    font-size: 1.5rem;
}
small {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(116, 15, 15), 
}